.main-title {
  color: #002d5b;
  line-height:130%;
}

.com-title{
  color: #002d5b;
  line-height:130%;
}

.md-title{
  color: #002d5b;
  font-size:30px;
  line-height:130%;
}

.sm-title{
  color: #002d5b;
  line-height:130%;
}

.com-para{
  font-size: clamp(14px,4vw,18px);
  color: #35373a;
  line-height: 130%;
  margin: 0;
}

.navbar{
    
.navbar-nav{
    gap: 20px; 
  }
  .btn.btn-danger.hire_me{
    margin-left: 300px;
  }  
   
}